<div class="edit-user-container">
  <h2>Editar Disponibilidad o Status de captación</h2>

  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="codigo">Codigo</label>
      <input
        type="text"
        id="codigo"
        name="codigo"
        [(ngModel)]="captacion.codigo"
        class="form-control"
        disabled
      />
    </div>

    <div class="form-group">
      <label for="userName">Asesor</label>
      <input
        type="text"
        id="userName"
        name="userName"
        [(ngModel)]="captacion.asesor.f_name"
        class="form-control"
        disabled
      />
    </div>

    <div class="form-group">
      <label for="disponibilidad">Nueva Disponibilidad:</label>
      <select
        id="disponibilidad"
        name="disponibilidad"
        [(ngModel)]="captacion.disponibilidad"
        class="form-control"
      >
        <option value="disponible">Disponible</option>
        <option value="no disponible">No disponible</option>
      </select>
    </div>
    <div class="form-group">
      <label for="status">Nuevo Status:</label>
      <select
        id="status"
        name="status"
        [(ngModel)]="captacion.status"
        class="form-control"
      >
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">
      Actualizar Disponibilidad y/o Status
    </button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Close
    </button>
  </form>
</div>
