<div class="px-10">
  <div class="flex items-center justify-between my-6">
    <h2 class="font-bold font-raleway text-3xl text-[#20343d]">
      Tabla de Captaciones
    </h2>
  </div>

  <div class="overflow-x-auto shadow-lg rounded-lg">
    <table class="w-full text-sm text-left text-[#20343d]">
      <thead class="text-sm uppercase bg-[#3FC0DD] text-white font-raleway">
        <tr>
          <th
            scope="col"
            class="px-6 py-4 cursor-pointer group"
            [class.bg-[#40697B]]="sortColumn === 'codigo'"
            (click)="sortTable('codigo')"
          >
            <div class="flex items-center space-x-1">
              <span [class.font-bold]="sortColumn === 'codigo'">Codigo</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-up-down"
              >
                <path d="m21 16-4 4-4-4" />
                <path d="M17 20V4" />
                <path d="m3 8 4-4 4 4" />
                <path d="M7 4v16" />
              </svg>
            </div>
          </th>
          <th
            scope="col"
            class="px-6 py-4 cursor-pointer group"
            [class.bg-[#40697B]]="sortColumn === 'asesor'"
            (click)="sortTable('asesor')"
          >
            <div class="flex items-center space-x-1">
              <span [class.font-bold]="sortColumn === 'asesor'">Asesor</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-up-down"
              >
                <path d="m21 16-4 4-4-4" />
                <path d="M17 20V4" />
                <path d="m3 8 4-4 4 4" />
                <path d="M7 4v16" />
              </svg>
            </div>
          </th>
          <th scope="col" class="px-6 py-4 group">
            <div class="flex items-center space-x-1">
              <span>Titulo</span>
            </div>
          </th>
          <th
            scope="col"
            class="px-6 py-4 cursor-pointer group"
            [class.bg-[#40697B]]="sortColumn === 'estado'"
            (click)="sortTable('estado')"
          >
            <div class="flex items-center space-x-1">
              <span [class.font-bold]="sortColumn === 'estado'">Estado</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-up-down"
              >
                <path d="m21 16-4 4-4-4" />
                <path d="M17 20V4" />
                <path d="m3 8 4-4 4 4" />
                <path d="M7 4v16" />
              </svg>
            </div>
          </th>
          <th
            scope="col"
            class="px-6 py-4 cursor-pointer group"
            [class.bg-[#40697B]]="sortColumn === 'ciudad'"
            (click)="sortTable('ciudad')"
          >
            <div class="flex items-center space-x-1">
              <span [class.font-bold]="sortColumn === 'ciudad'">Ciudad</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-up-down"
              >
                <path d="m21 16-4 4-4-4" />
                <path d="M17 20V4" />
                <path d="m3 8 4-4 4 4" />
                <path d="M7 4v16" />
              </svg>
            </div>
          </th>
          <th
            scope="col"
            class="px-6 py-4 cursor-pointer group"
            [class.bg-[#40697B]]="sortColumn === 'direccion'"
            (click)="sortTable('direccion')"
          >
            <div class="flex items-center space-x-1">
              <span [class.font-bold]="sortColumn === 'direccion'"
                >Direccion</span
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-up-down"
              >
                <path d="m21 16-4 4-4-4" />
                <path d="M17 20V4" />
                <path d="m3 8 4-4 4 4" />
                <path d="M7 4v16" />
              </svg>
            </div>
          </th>
          <th
            scope="col"
            class="px-6 py-4 cursor-pointer group"
            [class.bg-[#40697B]]="sortColumn === 'disponibilidad'"
            (click)="sortTable('disponibilidad')"
          >
            <div class="flex items-center space-x-1">
              <span [class.font-bold]="sortColumn === 'disponibilidad'"
                >Disponibilidad</span
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-up-down"
              >
                <path d="m21 16-4 4-4-4" />
                <path d="M17 20V4" />
                <path d="m3 8 4-4 4 4" />
                <path d="M7 4v16" />
              </svg>
            </div>
          </th>
          <th
            scope="col"
            class="px-6 py-4 cursor-pointer group"
            [class.bg-[#40697B]]="sortColumn === 'status'"
            (click)="sortTable('status')"
          >
            <div class="flex items-center space-x-1">
              <span [class.font-bold]="sortColumn === 'status'">Status</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-up-down"
              >
                <path d="m21 16-4 4-4-4" />
                <path d="M17 20V4" />
                <path d="m3 8 4-4 4 4" />
                <path d="M7 4v16" />
              </svg>
            </div>
          </th>
          <th
            scope="col"
            class="px-6 py-4 cursor-pointer group"
            [class.bg-[#40697B]]="sortColumn === 'tipo'"
            (click)="sortTable('tipo')"
          >
            <div class="flex items-center space-x-1">
              <span [class.font-bold]="sortColumn === 'tipo'">Tipo</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-up-down"
              >
                <path d="m21 16-4 4-4-4" />
                <path d="M17 20V4" />
                <path d="m3 8 4-4 4 4" />
                <path d="M7 4v16" />
              </svg>
            </div>
          </th>
          <th scope="col" class="px-6 py-4 group">
            <div class="flex items-center space-x-1">
              <span>Precio</span>
            </div>
          </th>
          <th
            scope="col"
            class="px-6 py-4 cursor-pointer group"
            [class.bg-[#40697B]]="sortColumn === 'n_banos'"
            (click)="sortTable('n_banos')"
          >
            <div class="flex items-center space-x-1">
              <span [class.font-bold]="sortColumn === 'n_banos'">Baños</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-up-down"
              >
                <path d="m21 16-4 4-4-4" />
                <path d="M17 20V4" />
                <path d="m3 8 4-4 4 4" />
                <path d="M7 4v16" />
              </svg>
            </div>
          </th>
          <th
            scope="col"
            class="px-6 py-4 cursor-pointer group"
            [class.bg-[#40697B]]="sortColumn === 'n_habitaciones'"
            (click)="sortTable('n_habitaciones')"
          >
            <div class="flex items-center space-x-1">
              <span [class.font-bold]="sortColumn === 'n_habitaciones'"
                >Habitaciones</span
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-up-down"
              >
                <path d="m21 16-4 4-4-4" />
                <path d="M17 20V4" />
                <path d="m3 8 4-4 4 4" />
                <path d="M7 4v16" />
              </svg>
            </div>
          </th>
          <th scope="col" class="px-6 py-4">Acción</th>
        </tr>
      </thead>
      <tbody class="font-poppins">
        <tr
          *ngFor="
            let captacion of captaciones
              | paginate : { itemsPerPage: 7, currentPage: page }
          "
          class="odd:bg-white even:bg-[#e6f3f7] border-b hover:bg-[#d1e8ee] transition duration-200"
        >
          <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
            {{ formatCodigo(captacion.id) }}
          </th>
          <td class="px-6 py-4 font-medium">
            {{ capitalizeFirstLetter(captacion.asesor.f_name) }}
          </td>
          <td class="px-6 py-4">
            {{ capitalizeFirstLetter(captacion.titulo) }}
          </td>
          <td class="px-6 py-4">
            {{ capitalizeFirstLetter(captacion.estado) }}
          </td>
          <td class="px-6 py-4">
            {{ capitalizeFirstLetter(captacion.ciudad) }}
          </td>
          <td class="px-6 py-4">
            {{ capitalizeFirstLetter(captacion.direccion) }}
          </td>
          <td class="px-6 py-4">
            {{ capitalizeFirstLetter(captacion.disponibilidad) }}
          </td>
          <td class="px-6 py-4">
            {{ capitalizeFirstLetter(captacion.status) }}
          </td>
          <td class="px-6 py-4">
            {{ capitalizeFirstLetter(captacion.tipo) }}
          </td>
          <td class="px-6 py-4">
            {{ captacion.precio }}
          </td>
          <td class="px-6 py-4">
            {{ captacion.n_banos }}
          </td>
          <td class="px-6 py-4">
            {{ captacion.n_habitaciones }}
          </td>
          <td class="px-6 py-4">
            <button
              class="font-medium text-[#3FC0DD] hover:text-[#40697B] hover:underline mr-2"
              (click)="editCaptacion(captacion.id)"
            >
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-center">
      <pagination-controls
        (pageChange)="page = $event"
        [responsive]="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      >
      </pagination-controls>
    </div>
  </div>
</div>

<app-captaciones-edit-modal
  *ngIf="isEditModalOpen"
  [captacionId]="selectedCaptacionId"
  (close)="closeEditModal()"
></app-captaciones-edit-modal>
