<div *ngFor="let captacion of captacionesWithImages">
  <h3>{{ captacion.titulo }}</h3>
  <img
    *ngIf="captacion.imagenes; else noImage"
    [src]="captacion.imagenes"
    alt="Imagen de {{ captacion.titulo }}"
  />
  <ng-template #noImage>
    <p>No hay imagen disponible</p>
  </ng-template>
  <p>Codigo: {{ captacion.id }}</p>
  <p>Asesor: {{ captacion.asesor.f_name }}</p>
  <p>Descripción: {{ captacion.descripcion }}</p>
  <p>Precio: {{ captacion.precio }}</p>
  <p>Dirección: {{ captacion.direccion }}</p>
  <p>Estado: {{ captacion.estado }}</p>
  <p>Ciudad: {{ captacion.ciudad }}</p>
  <p>Baños: {{ captacion.n_banos }}</p>
  <p>Habitaciones: {{ captacion.n_habitaciones }}</p>
</div>
