<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <button class="font-medium text-green-600 dark:text-green-400" (click)="createuser()">Crear usuario</button>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Nombre</th>
        <th scope="col" class="px-6 py-3">Apellido</th>
        <th scope="col" class="px-6 py-3">Correo</th>
        <th scope="col" class="px-6 py-3">Teléfono</th>
        <th scope="col" class="px-6 py-3">Rol</th>
        <th scope="col" class="px-6 py-3">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ capitalizeFirstLetter(user.f_name) }}</th>
        <th class="px-6 py-4">{{ capitalizeFirstLetter(user.l_name) }}</th>
        <td class="px-6 py-4">{{ user.email }}</td>
        <td class="px-6 py-4">{{ user.phone }}</td>
        <td class="px-6 py-4">{{ capitalizeFirstLetter(user.role) }}</td>
        <td class="px-6 py-4">
          <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="editUser(user.id)">Editar</button>
          <button class="font-medium text-red-600 dark:text-red-500 hover:underline" (click)="deleteuser(user.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
