<div class="edit-user-container">
  <h2>Edit User Role</h2>

  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input
        type="text"
        id="userName"
        name="userName"
        [(ngModel)]="user.f_name"
        class="form-control"
        disabled
      />
    </div>

    <div class="form-group">
      <label for="role">Nuevo Rol:</label>
      <select
        id="role"
        name="role"
        [(ngModel)]="user.role"
        class="form-control"
      >
        <option value="admin">Administrador</option>
        <option value="asesor">Asesor</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">
      Update Role
    </button>

    <!-- Botón para cerrar el modal -->
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Close
    </button>
  </form>
</div>
