<div class="container">
  <h1>Create captacion</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="codigo">Codigo:</label>
      <input
        type="number"
        id="codigo"
        name="codigo"
        [(ngModel)]="captacion.codigo"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="titulo">Titulo:</label>
      <input
        type="text"
        id="titulo"
        name="titulo"
        [(ngModel)]="captacion.titulo"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion:</label>
      <input
        type="text"
        id="descripcion"
        name="descripcion"
        [(ngModel)]="captacion.descripcion"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="direccion">Direccion:</label>
      <input
        type="text"
        id="direccion"
        name="direccion"
        [(ngModel)]="captacion.direccion"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="estado">Estado:</label>
      <input
        type="text"
        id="estado"
        name="estado"
        [(ngModel)]="captacion.estado"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="ciudad">Ciudad:</label>
      <input
        type="text"
        id="ciudad"
        name="ciudad"
        [(ngModel)]="captacion.ciudad"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="precio">Precio:</label>
      <input
        type="number"
        id="precio"
        name="precio"
        [(ngModel)]="captacion.precio"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="banos">Baños:</label>
      <input
        type="number"
        id="banos"
        name="banos"
        [(ngModel)]="captacion.n_banos"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="habitaciones">N° Habitaciones:</label>
      <input
        type="number"
        id="habitaciones"
        name="habitaciones"
        [(ngModel)]="captacion.n_habitaciones"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="tipo">Tipo:</label>
      <select
        id="tipo"
        name="tipo"
        [(ngModel)]="captacion.tipo"
        class="form-control"
      >
        <option value="alquiler">Alquiler</option>
        <option value="venta">Venta</option>
      </select>
    </div>
    <button type="submit" class="bg-teal-600">Create captacion</button>
    <a routerLink="/perfil">Perfil</a>
  </form>
</div>
